h2 {
  color: #f2f2f2;
  font-size: 16;
  font-weight: 500;
}

h3 {
  color: #f2f2f2;
  font-size: 16;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

section {
  align-items: center;
}

#Guilds {
  background-color: #131313;
}

#Sidebar {
  background-color: #222222;
}

#ChatContainer {
  background-color: #272727;
}

#ChatInput {
  background-color: #333333;
}

#MemberList {
  background-color: #222222;
}

.text {
  color: #f2f2f2;
  font-size: 16;
  font-style: normal;
  font-weight: 400;
}

.message-text {
  color: #d7d7d7
}

.input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.input:focus {
  outline: none !important;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.vertical-center {
  vertical-align: middle;
}

.horizontal-center {
  align-self: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.full-size {
  width: 100vw;
  height: 100vh;
}

.full-height {
  height: 100vh;
}

.avatar {
  position: absolute;
  border-radius: 50%;
}