span {
  color: #f2f2f2;
  font-size: 16;
  font-style: normal;
  font-weight: 400;
}

h3 {
  color: #f2f2f2;
  font-size: 16;
  font-weight: 600;
}

section {
  align-items: center;
}

#Guilds {
  background-color: #131313;
}

#Sidebar {
  background-color: #222222;
}

#ChatContainer {
  background-color: #272727;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.vertical-center {
  vertical-align: middle;
}

.horizontal-center {
  align-self: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.full-size {
  width: 100vw;
  height: 100vh;
}

.full-height {
  height: 100vh;
}